*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}

.text_container{
    display: flex ;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 235, 205, 0.808); 
    height: 100vh; 
}
.text_container h1{
    font-size: 50px;
    color: #1d1d1d;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
}
.text_container h1 span{
    color: blueviolet;
}